.u-aside-top {
  margin-top: 1rem !important;
}

.u-aside-bottom {
  margin-bottom: 1rem !important;
}

.u-aside-top--small {
  margin-top: calc(1rem - 0.75rem) !important;
}

.u-aside-bottom--small {
  margin-bottom: calc(1rem - 0.75rem) !important;
}

.u-aside-top--large {
  margin-top: calc(1rem + .5rem) !important;
}

.u-aside-bottom--large {
  margin-bottom: calc(1rem + .5rem) !important;
}

.u-aside-right {
  margin-right: 1rem !important;
}

.u-aside-left {
  margin-left: 1rem !important;
}