.u-strip-margin-top {
  margin-top: 0 !important;
}

.u-strip-margin-bottom {
  margin-bottom: 0 !important;
}

.u-strip-margin-left {
  margin-left: 0 !important;
}

.u-strip-margin-right {
  margin-right: 0 !important;
}