.c-portfolio {}

.c-portfolio__img {
  padding: 1%;
}

.c-portfolio__title {}

.c-portfolio__description {}

.c-portfolio__footnote {}

@media screen and (min-width: 1200px) {
  .c-portfolio__img {
    width: 97%;
    padding: 1%;
  }
}